<footer class="site-footer">

  <div class="wrapper">
    <div class="center">
      <a href="https://github.com/ysoo">
        <i class="fab fa-github fa-2x"> </i>
      </a>

      <a href="https://www.linkedin.com/in/yi-xian-soo-a60402b1/">
          <i class = "fab fa-linkedin fa-2x"></i>
        </a>
      <a href="mailto:yixian1405@gmail.com">
            <i class = "fas fa-envelope fa-2x"> </i>
      </a>
      <a href="https://angel.co/yi-xian-soo">
          <i class="fab fa-angellist fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/xianners/">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>


  </div>

</footer>
